.remove-button:hover {
    color: red;
}

.add-button:hover {
    color: #0F4ECD;
}

.icon-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.result-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    cursor: pointer;
    box-shadow: 0px -2px 20px #888;
}

.result-item:hover {
    background-color: #bbb;
}

.map-absent-box {
    border-style: 2px solid #bbb;
}

.results-list {
    height: 400px;
    overflow-y: scroll;
}

.result-item-expansion img {
    width: 100%;
    height: auto;
}

.result-item-expansion {
    height: 0px;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
}

.result-item:hover .result-item-expansion {
    height: 150px;
}
