@import url("https://fonts.googleapis.com/css?family=Pacifico");

.navbar-brand {
    color: #ec7c93 !important;
    font-family: Pacifico;
    font-size: 25px;
}

#basic-nav-dropdown {
    color: #3e678c !important;
}

.nav-button {
    margin-left: 5px;
    margin-right: 5px;
    background-color: inherit;
    border-style: none;
    color: gray;
}

.nav-button:hover {
    color: #3e678c;
}

.nav-button:focus {
    color: #3e678c;
}