.tooltipdiv p {
    max-height: 200px;
    overflow-y: scroll;
}

.tooltipdiv img {
    width: 100%;
}

.anchor-like-button {
    align-items: normal;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(0, 0, 238);
    border-style: none;
    box-sizing: content-box;
    color: rgb(0, 0, 238);
    cursor: pointer;
    display: inline;
    font: inherit;
    height: auto;
    padding: 0;
    perspective-origin: 0 0;
    text-align: start;
    text-decoration: underline;
    transform-origin: 0 0;
    width: auto;
    -moz-appearance: none;
    -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
    -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
}

.popover {
    max-width: 600px !important;
    background-color: white;
}
