.result-item .panel-heading {
  text-align: left;
  padding: 5px 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.result-item .panel-title {
  color: gray;
  text-decoration: none !important;
  display: inline-block;
}

.result-item .panel-heading:hover {
  background-color: #ec7c93;
}

.result-item .panel-heading:hover .panel-title {
  color: black;
}

.icon-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    color: gray;
}

.result-item .icon-button.remove-button:hover {
  color: red;
}
