.results-page .activate-button {
    margin-bottom: 10px;
}

.results-page .popup-map-placeholder {
    width: 100%;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
}